.c-progress {
  display: flex;
  background-color: $secondary;
  justify-content: space-between;
  padding: 35px 0;
  &__step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #838383;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      background-color: #838383;
      width: 25vw;
      top: 32%;
      left: 50%;
    }
    &:last-child::after {
      content: none;
    }
    p {
      max-width: 130px;
    }
    svg {
      border-radius: 50%;
      z-index: 1;
      width: 50px;
      height: 50px;
      padding: 25px;
      border: 2px solid #838383;
      background-color: white;
    }
    &--active {
      color: $primary;
      svg {
        border-color: $primary;
      }
    }
  }
  &__nav {
    width: 100%;
    button {
      margin: 0 35px;
    }
  }
}
